@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #1a1a1a;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  z-index: 1000;
  top: 0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 30%;
  width: 3rem;
  height: auto;
}

.logo-text {
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-left: 10px;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-family: "Lora", serif;
  transition: max-height 0.3s ease;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.28rem;
  color: #bdcec8;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}

.nav-links a:hover {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 1s ease;
}

/* Hamburger Styles */
.hamburger {
  display: none; /* Initially hide the hamburger */
  cursor: pointer;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .header-container {
    padding: 10px 20px;
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    align-items: center;
    max-height: 0; /* Initially hide the nav links */
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .nav-links.open {
    max-height: 300px; /* Expand to a suitable max-height when open */
  }

  .hamburger {
    display: block; /* Show the hamburger on small screens */
  }
}

/* Media Query for extra small screens */
@media screen and (max-width: 480px) {
  .header-container {
    padding: 10px;
  }

  .logo-text {
    font-size: 1.8rem;
  }

  .nav-links a {
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  .nav-links {
    gap: 10px;
  }
}

/* Media Query for Nest Hub */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  /* Adjust font sizes and padding to fit Nest Hub screen */
  .header-container {
    padding: 10px 30px;
  }

  .logo {
    width: 2.5rem;
  }

  .logo-text {
    font-size: 1.8rem;
  }

  .nav-links {
    gap: 20px;
  }

  .nav-links a {
    font-size: 1.1rem;
    padding: 0.5rem 0.8rem;
  }

  .nav-links.open {
    max-height: 400px;
  }

  /* Adjust the hamburger for better visibility */
  .hamburger {
    width: 30px;
    height: 30px;
  }
}

/* Additional responsiveness for smaller devices */
@media screen and (max-width: 768px) {
  .nav-links a {
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .logo-text {
    font-size: 1.6rem;
  }

  .nav-links a {
    font-size: 0.9rem;
  }

  .nav-links {
    gap: 10px;
  }
}
