@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.testimonials-section {
  text-align: center;
  padding: 50px 20px; /* Added horizontal padding for smaller screens */
  background-color: #1e1e1e;
  height: auto; /* Change height to auto to adapt to content */
}

.section-title {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 10px;
}

.sub-title {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 40px;
}

.testimonials-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow cards to wrap on smaller screens */
}

.testimonial-card {
  background-color: #292929;
  padding: 20px;
  border-radius: 10px;
  width: 27%; /* Default width for larger screens */
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  margin: 20px;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-10px);
}

.testimonial-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.testimonial-name {
  color: var(--primary-color);
  font-size: 24px;
  margin-bottom: 10px;
}

.testimonial-name span {
  font-style: italic;
  color: #b0b0b0;
  font-size: 15px;
}

.testimonial-text {
  color: #b0b0b0;
  font-size: 1rem;
  line-height: 1.8;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 1024px) {
  .testimonial-card {
    width: 30%; /* Adjust width for medium-sized screens */
  }
}

@media screen and (max-width: 768px) {
  .testimonial-card {
    width: 45%; /* Adjust width for smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .testimonials-section {
    padding: 100px 10px; /* Adjust padding for smaller screens */
  }

  .section-title {
    font-size: 28px; /* Adjust heading size for better visibility */
  }

  .sub-title {
    font-size: 20px; /* Adjust subtitle size for mobile */
  }

  .testimonial-card {
    width: 100%; /* Full width for cards on small screens */
    margin-bottom: 20px; /* Space between cards */
  }
}
