.contact-container {
  background-color: #1e1e1e;
  display: flex;
  justify-content: space-between;
  padding: 200px;
  color: #fff;
  height: 800px;
}

.form-section {
  width: 50%;
}

h2 {
  color: var(--primary-color);
  font-size: 2em;
}

p {
  color: #c7c7c7;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
}

input {
  width: 48%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
  height: 55px;
}

textarea {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: var(--secondary-color);
}

.contact-info {
  width: 40%;
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 10px;
  margin-top: 90px;
}

h3 {
  color: var(--primary-color);
  font-size: 1.5em;
}
