.contact-container {
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
  color: #fff;
  height: 100%;
}

/* Responsive form section */
.form-section {
  width: 50%;
}

h2 {
  color: var(--primary-color);
  font-size: 2em;
}

p {
  color: #c7c7c7;
  padding: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px 0;
}

input {
  width: 48%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
  height: 55px;
}

textarea {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #2b2b2b;
  color: #fff;
}

button {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: var(--secondary-color);
}

.contact-info {
  width: 40%;
  background-color: #1b1b1b;
  padding: 20px;
  border-radius: 10px;
  margin-top: 90px;
}

.fa {
  color: var(--primary-color);
  font-size: 18px;
}

h3 {
  color: var(--primary-color);
  font-size: 1.5em;
}

/* Media Queries for Responsiveness */

/* iPhone SE (375px width) */
@media screen and (max-width: 375px) {
  .contact-container {
    flex-direction: column;
    padding: 30px;
  }

  .form-section, .contact-info {
    width: 100%;
  }

  input {
    width: 100%;
  }
}

/* iPhone XR, iPhone 12 Pro, iPhone 14 Pro Max, Pixel 7 (414px to 430px width) */
@media screen and (max-width: 430px) {
  .contact-container {
    flex-direction: column;
    padding: 40px;
  }

  .form-section, .contact-info {
    width: 100%;
  }

  input {
    width: 100%;
  }

  textarea {
    width: 100%;
  }
}

/* Samsung Galaxy S8+ (360px width) */
@media screen and (max-width: 360px) {
  .contact-container {
    padding: 20px;
  }

  .form-section, .contact-info {
    width: 100%;
  }

  input, textarea {
    width: 100%;
  }
}

/* iPad Mini, iPad Air, iPad Pro (768px width and up) */
@media screen and (max-width: 768px) {
  .contact-container {
    padding: 50px;
    flex-direction: column;
  }

  .form-section, .contact-info {
    width: 100%;
  }

  input, textarea {
    width: 100%;
  }
}

/* Surface Pro 7, Asus ZenBook Fold, Surface Duo, Galaxy Z Fold 5 (1024px width) */
@media screen and (max-width: 1024px) {
  .contact-container {
    padding: 50px;
  }

  .form-section {
    width: 60%;
  }

  .contact-info {
    width: 35%;
  }

  input, textarea {
    width: 100%;
  }
}

/* Nest Hub, Nest Hub Max (600px to 1024px width) */
@media screen and (max-width: 1024px) and (min-width: 600px) {
  .contact-container {
    padding: 50px;
  }

  .form-section {
    width: 60%;
  }

  .contact-info {
    width: 35%;
  }

  input, textarea {
    width: 100%;
  }
}

/* Samsung Galaxy A51/71, Galaxy S20 Ultra (412px width) */
@media screen and (max-width: 412px) {
  .contact-container {
    padding: 30px;
  }

  .form-section, .contact-info {
    width: 100%;
  }

  input, textarea {
    width: 100%;
  }
}
