@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.Projects-container {
  text-align: center;
  color: #fff;
  background-color: #181818;
  padding: 40px;
}

.Projects-container h2 {
  color: #f05454;
  font-size: 1.5rem;
}

.Projects-container h3 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.Projects-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.service-card {
  background-color: #2d2d2d;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  height: 350px; /* Set a consistent height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.service-card:hover {
  transform: translateY(-10px);
  background-color: #333333;
}

.icon-wrapper {
  margin-bottom: 10px;
}

.service-icon {
  width: 50px;
  height: 50px;
}

.service-info {
  opacity: 0;
  visibility: hidden;
  text-align: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.service-card:hover .service-info {
  opacity: 1;
  visibility: visible;
}

.service-info h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.service-info p {
  font-size: 0.9rem;
}

.browse-link {
  color: #f05454;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.browse-link:hover {
  text-decoration: underline;
}
