@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.skills-section {
  padding: 50px 0;
  background-color: #1a1a1a;
  text-align: center;
  height: auto; /* Allow height to adjust based on content */
}

.skills-title {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills-category {
  background-color: #292929;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s; /* Smooth transition */
}

.skills-category:hover {
  transform: translateY(-20px);
}

.category-title {
  color: var(--primary-color);
  font-size: 20px;
  margin-bottom: 20px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.skill-info {
  display: flex;
  align-items: center;
}

.skill-icon {
  font-size: 24px;
  margin-right: 10px;
  color: var(--primary-color);
}

.skill-name {
  color: #ffffff;
}

.skill-level {
  color: #ffffff;
  font-size: 14px;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
 
  .skills-title {
    font-size: 28px; /* Adjust title font size */
  }

  .skills-category {
    width: 80%; /* Make categories take full width on smaller screens */
    max-width: 300px; /* Set a max-width for larger devices */
    margin: 10px auto; /* Center align categories with margin */
  }

  .skill-icon {
    font-size: 20px; /* Adjust icon size */
  }

  .skill-name {
    font-size: 16px; /* Adjust font size for skill names */
  }

  .skill-level {
    font-size: 12px; /* Adjust font size for skill levels */
  }
}

/* Media Query for extra small screens */
@media screen and (max-width: 480px) {
  .skills-title {
    font-size: 24px; /* Further adjust title font size */
  }

  .skills-category {
    width: 100%; /* Full width on very small screens */
  }

  .skill-name {
    font-size: 14px; /* Further adjust font size for skill names */
  }

  .skill-level {
    font-size: 10px; /* Further adjust font size for skill levels */
  }
}
