@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

.work-experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px;
  background-color: #1e1e1e;
  color: #fff;
  height: auto; /* Allow height to adjust based on content */
}

.work-experience-container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #ffffff;
  padding-top: 25px;
}

.edu {
  color: var(--primary-color);
}

.experience-cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1000px;
  padding-top: 120px;
  gap: 100px; /* Gap between cards */
}

.card {
  background-color: #1e1e1e;
  border-radius: 20px;
  padding: 20px;
  width: 45%; /* Width of cards on larger screens */
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.3);
  transition: transform 0.3s; /* Smooth transition for hover effect */
}

.card:hover {
  transform: translateY(-10px); /* Slight lift effect on hover */
}

.icon-container {
  background-color: #aaaaaa;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 20px;
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #fff;
}

.card p {
  font-size: 1rem;
  color: #c0c0c0;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .experience-cards {
    flex-direction: column; /* Stack cards vertically */
    gap: 20px; /* Adjust gap for vertical stacking */
  }
  .mgs{
    border-radius: 50%;
  }

  .card {
    width: 100%; /* Full width on smaller screens */
    margin-bottom: 20px; /* Margin between cards */
  }

  .work-experience-container h1 {
    font-size: 2rem; /* Adjust heading size for smaller screens */
  }
}

/* Media Query for extra small screens */
@media screen and (max-width: 480px) {
  .work-experience-container h1 {
    font-size: 1.5rem; /* Further adjust heading size */
  }

  .card h2 {
    font-size: 1.25rem; /* Adjust card title size */
  }
  .mgs{
    border-radius: 50%;
  }
  .card p {
    font-size: 0.9rem; /* Adjust paragraph size */
  }
}
