@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #d40244;
  --secondary-color: #cd021a;
}

* {
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
