
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e;
}

.profile-card {
  display: flex;
  align-items: center;
  background-color: #212020;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px var(--primary-color);
}

.profile-image {
  border-radius: 10px 50% 50% 10px;
  height: auto;
  box-shadow: #4a494a;
  width: 700px;
}

.profile-image img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.profile-text {

  color: #ffffff;
  margin-left: 20px;
  max-width: 700px;
}

.profile-text h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.profile-text p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 15px;
}

.download-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.download-button:hover {
  background-color: var(--secondary-color);
}
