.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: #1e1e1e;
  padding: 20px; /* Add padding for smaller screens */
  flex-direction: column; /* Stack elements vertically on smaller screens */
}

.profile-card {
  display: flex;
  align-items: center;
  background-color: #212020;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 10px var(--primary-color);
  max-width: 100%; /* Allow the card to take the full width on smaller screens */
  flex-wrap: wrap; /* Allow wrapping of contents */
}

.profile-image {
  border-radius: 10px 50% 50% 10px;
  height: auto;
  box-shadow: #4a494a;
  width: 700px;
}

.profile-image img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.profile-text {
  color: #ffffff;
  margin-left: 20px;
  max-width: 700px;
}

.profile-text h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.profile-text p {
  font-size: 1.15rem;
  line-height: 2;
  margin-bottom: 15px;
}

.download-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 1s ease;
}

.download-button:hover {
  background-color: var(--secondary-color);
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
  .profile-container {
    height: auto; /* Allow height to adjust for content */
  }

  .profile-card {
    flex-direction: column; /* Stack image and text vertically */
    align-items: center; /* Center align items */
    padding: 10px; /* Reduce padding */
  }

  .profile-image {
    width: 100%; /* Set width to 100% on smaller screens */
    margin-bottom: 10px; /* Space between image and text */
  }

  .profile-image img {
    width: 80%; /* Make image responsive */
    max-width: 300px; /* Set a max-width */
  }

  .profile-text {
    margin-left: 0; /* Reset margin for centered text */
    text-align: center; /* Center align text */
  }

  .profile-text h2 {
    font-size: 2.5rem; /* Adjust font size */
  }

  .profile-text p {
    font-size: 1rem; /* Adjust font size */
  }

  .download-button {
    font-size: 14px; /* Adjust button font size */
    padding: 8px 15px; /* Adjust padding */
  }
}

/* Media Query for extra small screens */
@media screen and (max-width: 480px) {
  .profile-text h2 {
    font-size: 2rem; /* Further adjust font size */
  }

  .profile-text p {
    font-size: 0.9rem; /* Further adjust font size */
  }

  .download-button {
    width: 100%; /* Full width for buttons */
    font-size: 12px; /* Further adjust button font size */
    padding: 6px; /* Adjust padding */
  }
}
